body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    zoom: 90%;
}

@media screen and (max-width: 567px) {
    body{
        zoom: 50%;
    }
}


#link-container{
    text-align: center;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    padding-top: 50px;
    color: #808080;
}

.table-p{
    margin-top: 10px;
    font-weight: bold;
    color: #808080;
}

.table-one{
    display: inline-block;
    padding: 0.7em 1em;
    background-color: #9a9a9a;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.table-one:link{
    text-decoration: none;
}

.table-one:hover{
    color: #fff;
    background-color: #8d8d8d;
}

#todayButton{
    height: 46px;
    width: 100px;
    margin-left: 10px;
    margin-bottom: 16px;
    background-color: #9a9a9a;
}

#todayButton:hover{
    background-color: #8d8d8d;
}

#toggle-btn {
    display: block;
    margin: 2rem auto 1rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #9a9a9a;
    color: #fff;
    border-radius: 0.25rem;
    cursor: pointer;
}

#toggle-btn:hover{
    background-color: #8d8d8d;
}

/* Styles for the form */
form {
    max-width: 600px;
    margin: 0 auto;
    color: #808080;
}
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
.date-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.hide-dato {
    display: none;
}
button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-left: 0.5rem;
    cursor: pointer;
}
.custom-btn {
    background-color: #28a745;
}
#samlet {
    font-weight: bold;
    text-align: center;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input {
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

#dato{
    margin-bottom: 15px;
}

.hide-dato{
    color: white;
}


#timer{
    margin-bottom: 15px;
}

#lon{
    margin-bottom: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.custom-btn{
    width: 10%;
}

button:hover {
    background-color: #3e8e41;
}

.delete-button{
    background-color: #ff4e4e;
}

.big-delete{
    width: 30%;
    background-color: #9a9a9a;
}

#delete-all-button{
    background-color: #d9534f;
    width: 17.5%;
    margin-bottom: 10px;
}

#delete-all-button:hover{
    background-color: #c34a47;

}

.delete-button:hover{
    background-color: #ff3a3a;
}

#gem-knap{
    margin-top: 20px;
    width: 20%;
}

.but-icon{
    background-color: #9a9a9a;
}

.but-icon:hover{
    background-color: #9a9a9a;
}

.but-icon-small{
    color: #9a9a9a;
    background-color: #fff;
}

.but-icon-small:hover{
    background-color: #f5f5f5;
}

.tabel {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #333;
}

.tabel th,
.tabel td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabel th {
    background-color: #9a9a9a;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.tabel tbody tr:hover {
    background-color: #f5f5f5;
}

.tabel td:last-child {
    text-align: center;
}

#sum {
    font-size: 1.2rem;
    font-weight: bold;
}

#total-salary{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    height: 15px;
    margin-bottom: 10px;
}
#copy-right {
    color: #777;
}

